.container{
    background: pink;
    .empty{
        height: 30px;
        width: 100%;
        background: red;
    }
    .py{
        height: 30px;
        width: 100%;
        background: yellow;
    }
}