.container{
    background: pink;
   
    :global{
        .ant-btn-primary{
            background-color:chocolate !important;
        }
    }
    .empty{
        height: 30px;
        width: 100%;
        background: red;
    }
    .py{
        height: 30px;
        width: 100%;
        background: yellow;
    }
    .box{
        width: 300px;
        margin: 10px;
        padding: 10px ;
        background-color: #fff;
        >div{
            height: 35px;
            background-color: aqua;
        }
        .isFirst{
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
        .isLast{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-bottom: 10px;
        }
    }
}
