:global {
  .ant-modal-header {
    padding: 8px 20px !important;
    background-color: rgb(235, 246, 255);
    .ant-modal-title {
      font-size: 14px;
    }
  }
  .ant-modal-close-x {
    height: 35px;
    line-height: 35px;
    width: 35px;
  }
  .ant-form-item{
      margin-bottom:12px !important;
  }
  textarea.ant-input{
      max-width: 75%;
  }
}
.btnGroup{
    margin: 20px 0;
    :global{
        .ant-btn-primary{
            margin-right: 10px !important;
        }
    }
}

.insert{
    margin-left: 25%;
    color: #3196EB;
    text-decoration: underline;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
}
.textContet{
    margin-bottom: 12px;
    p{
        display: none;
    }
    &.waring{
        textarea{
            border-color: #ff4d4f !important;
        }
        p{
            display: block;
            padding-left: 25%;
            color: #ff4d4f !important;
            font-size: 12px;
        }
    }
    span{
        display: inline-block;
        width: 25%;
        text-align: right;
        padding-right: 5px;
        &::before{
            display: inline-block;
            margin-right: 4px;
            color: #ff4d4f;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
            content: '*';
        }
    }
}
